{% load static %}
<section id="call-to-action" class="call-to-action section dark-background">
    <img src="{% static 'img/call/call_bg.jpg' %}" alt="">
    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3>Напишите нам</h3>
                    <p>Забронируйте ваш идеальный отдых прямо сейчас</p>
                    <a class="cta-btn" href="https://t.me/IrShink">Забронировать</a>
                </div>
            </div>
        </div>
    </div>

</section>