{% load static %}

<section id="contact" class="contact section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Контакты</h2>
    </div>
    <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="info-item align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="bi bi-geo-alt icon flex-shrink-0"></i></div>
                    <div>
                        <h3>Адрес</h3>
                        <h6>Московская область, Рузский район</h6>
                        <h6>дер. Сытьково</h6>
                    </div>
                </div><!-- End Info Item -->

                <div class="info-item align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="300">
                    <i class="bi bi-telephone flex-shrink-0"></i>
                    <div>
                        <h3>Позвонить</h3>
                        <h6>8-926-187-34-27</h6>
                    </div>
                </div><!-- End Info Item -->
            </div>

            <div class="col-lg-8">
                <script type="text/javascript" charset="utf-8" async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adb9561ab5c6d592cc3ce57d87bb249441fd5d39072aefd71935d93348d1280c9&amp;width=100%25&amp;height=506&amp;lang=ru_RU&amp;scroll=true"></script>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->
