{% load static %}
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
        <a href="{% url 'rent_house:home' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#home" class="active">Главная</a></li>
                <li><a href="#about">О нас</a></li>
                <li><a href="#our_product">Что мы предоставляем</a></li>
                <li><a href="#price">Стоимость</a></li>
                <li><a href="#gallery">Галерея</a></li>
                <li><a href="#with_as">Рядом с нами</a></li>
                <li><a href="#reviews">Отзывы</a></li>
                <li><a href="#contact">Контакты</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
    </div>
</header>