{% load static %}
<section id="price" class="contact section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Стоимость</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
            <div class="row gy-4">
                <div class="col-md-3">
                    <div class="info-item" data-aos="fade" data-aos-delay="200">
                        <i class="bi-cash-stack"></i>
                        <h3><span class="description-title" style="color: #008000">Стоимость проживания</span></h3>
                        <h6>ВС - ЧТ <strong>8000р</strong></h6>
                        <h6>ПТ - СБ <strong>10000р</strong></h6>
                        <h6>Стоимость указана при размещении 2х человек, доплата за 3го и 4го 1000р с чел. Дети до 10 лет бесплатно</h6>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="info-item" data-aos="fade" data-aos-delay="200">
                        <i class="bi-calendar-check"></i>
                        <h3><span class="description-title" style="color: #008000">Условия заезда</span></h3>
                        <h6>Заезд с <strong>15.00</strong></h6>
                        <h6>Выезд до <strong>12.00</strong></h6>
                        <h6>Животные допускаются небольших размеров и под вашу ответственность</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-item" data-aos="fade" data-aos-delay="200">
                        <i class="bi-water"></i>
                        <h3><span class="description-title" style="color: #008000">Стоимость купели</span></h3>
                        <h6><strong>4000р</strong> одна топка без ограничений</h6>
                        <h6>При заселении от 3х суток купель бесплатно</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info-item" data-aos="fade" data-aos-delay="200">
                        <i class="bi-fire"></i>
                        <h3><span class="description-title" style="color: #008000">Мы предоставляем</span></h3>
                        <h6>Мангал</h6>
                        <h6>Стол-очаг</h6>
                        <h6>Розжиг, уголь, дрова</h6>
                        <h6>Решетки</h6>
                        <h6>Шампура</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>