{% load static %}
{% if withas_cards %}
<section id="with_as" class="team section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Рядом с нами</h2>
    </div>
    <div class="container">
        <div class="row gy-4">
            {% for card in withas_cards %}
            <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <img src="{{ card.image.url }}" class="img-fluid" alt="{{ card.title }}">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>{{ card.title }}</h4>
                            <span>{{ card.description }}</span>
                        </div>
                        {% if card.link %}
                        <div class="social">
                            <a href="{{ card.link }}" target="_blank"><i class="bi bi-link-45deg fs-3"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endif %}