{% extends 'base.html' %}

{% block content %}
    {% include 'includes/navmenu.html' %}
    <main class="main">
        {% include 'includes/herotext.html' %}
        {% include 'includes/about.html' %}
        {% include 'includes/price.html' %}
        {% include 'includes/call.html' %}
        {% include 'includes/gallery.html' %}
        {% include 'includes/with_us.html' %}
        {% include 'includes/comments.html' %}
        {% include 'includes/contacts.html' %}
        {% include 'includes/footer.html' %}
    </main>
{% endblock %}